<div style="margin: 4rem;"></div>
<div fxLayout="column" fxLayoutAlign="center center">
  <div class="align-center container">
    <h2>Witaj w aplikacji Lodowej Krainy</h2>
    <p>By przejść do listy lodów, klientów, jednostek czy zamówień, kliknij w jeden z poniższych kafelków. Wybrana kategoria pojawi się poniżej.</p>
  </div>

  <div class="padding-bottom" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="2rem" fxLayoutAlign="center center">
    <a class="tile" (click)="goToIcecreamList()">
      <img class="tile__img" src="assets/images/icecream-tile.jpg">
      <h4 class="tile__title">Lista lodów</h4>
    </a>
    <a class="tile" (click)="goToUnits()">
      <img class="tile__img" src="assets/images/units-tile.jpg">
      <h4 class="tile__title">Lista jednostek</h4>
    </a>
    <a class="tile" (click)="goToClients()">
      <img class="tile__img" src="assets/images/users-tile.jpg">
      <h4 class="tile__title">Lista klientów</h4>
    </a>
    <a class="tile" (click)="goToOrders()">
      <img class="tile__img" src="assets/images/order-tile.png">
      <h4 class="tile__title">Zamówienie</h4>
    </a>
  </div>
</div>
<router-outlet id="target"></router-outlet>