<div class="user-view" fxLayout="column" fxLayoutAlign="center center">
  <div class="user-view__subheader">
    <h2>Brak złożonych zamówień.</h2>
  </div>
  <div class="user-view__tiles" fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="center center">
    <a class="user-view__tiles--item" routerLink="/icecream-list">
      <img style="width: 12.5rem; height: 10rem;" src="assets/images/icecream-tile.jpg">
      <h4 style="width: 12.5rem; text-align: center; height: 2.5rem; margin: 0; line-height: 2rem">Lista lodów</h4>
    </a>
    <a class="user-view__tiles--item" routerLink="/unit-list">
      <img style="width: 12.5rem; height: 10rem;" src="assets/images/units-tile.jpg">
      <h4 style="width: 12.5rem; text-align: center; height: 2.5rem; margin: 0; line-height: 2rem">Lista jednostek</h4>
    </a>
    <a class="user-view__tiles--item" routerLink="/clients-list">
      <img style="width: 12.5rem; height: 10rem;" src="assets/images/users-tile.jpg">
      <h4 style="width: 12.5rem; text-align: center; height: 2.5rem; margin: 0; line-height: 2rem">Lista klientów</h4>
    </a>
    <a class="user-view__tiles--item" routerLink="/unit-list">
      <img style="width: 12.5rem; height: 10rem;" src="assets/images/order-tile.png">
      <h4 style="width: 12.5rem; text-align: center; height: 2.5rem; margin: 0; line-height: 2rem">Zamówienie</h4>
    </a>
  </div>
</div>
