<div class="contaienr" fxLayout="column" fxLayoutAlign="center center">
  <h1>{{(hasOrderedToday$ | async) ? 'Zamówienie zostało przyjęte. Zapraszamy jutro!' : 'Obecne zamówienie:'}}</h1>
  <p *ngIf="!(hasOrderedToday$ | async)">Brak produktów dodanych do zamówienia</p>
  <ul style="list-style: none;">
    <li *ngFor="let item of order$ | async; let index = index">{{index+1}}. Lody {{ item.name }} - {{ item.capacity}}
      {{ item.amount }}szt.</li>
  </ul>
  <button *ngIf="!((order$ | async).length == 0)" type="submit" (click)="onSubmit()" mat-raised-button color="primary"
    mat-dialog-close>Złóż zamówienie</button>
  <h2 *ngIf="!(hasOrderedToday$ | async) && (hasEverOrdered$ | async) && ((order$ | async).length == 0)">
    Czy chcesz
    <button (click)="onRepeatLastOrder()" style="position: relative; top: -0.25rem;" mat-raised-button
      color="primary">ponowić ostatnie zamówienie</button> czy może wybrać produkty z <button
      routerLink="/icecream-list" style="position: relative; top: -0.25rem;" mat-raised-button color="primary">listy
      lodów</button>
    ?
  </h2>
</div>