<div class="container padding-bottom" fxLayout="column" fxLayoutAlign="center center">
  <ng-container *ngrxLet="hasOrderedToday$ as hasOrderedToday">
    <h1 style="text-align: center">
      {{ hasOrderedToday ? 'Zamówienie zostało przyjęte. Zapraszamy jutro!' : 'Obecne zamówienie:'}}</h1>
    <ng-container *ngrxLet="order$ as order">
      <p *ngIf="!hasOrderedToday && order.length == 0">Brak produktów dodanych do zamówienia</p>
      <ul style="list-style: none;">
        <li *ngFor="let item of order; let index = index">{{index+1}}. Lody {{ item.name | titlecase }} -
          {{ item.unit.name }} ({{ item.unit.capacity}}ml)
          {{ item.amount }}szt.</li>
      </ul>
      <button *ngIf="!(order.length == 0)" type="submit" (click)="onSubmit()" mat-raised-button color="primary"
        mat-dialog-close>Złóż zamówienie</button>
    </ng-container>
  </ng-container>
</div>
