<mat-nav-list>
  <a *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Logowanie</span>
  </a>
  <a *ngIf="isAuth$ | async" mat-list-item routerLink="/icecream-list" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Lody</span>
  </a>
  <a *ngIf="(isAuth$ | async) && (isAdmin$ | async)" mat-list-item routerLink="/clients-list" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Klienci</span>
  </a>
  <a *ngIf="(isAuth$ | async) && (isAdmin$ | async)" mat-list-item routerLink="/unit-list" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Pojemniki</span>
  </a>
  <a *ngIf="(isAuth$ | async) && !(isAdmin$ | async)" mat-list-item routerLink="/order-client" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Zamówienia</span>
  </a>
  <a *ngIf="(isAuth$ | async) && (isAdmin$ | async)" mat-list-item routerLink="/order-admin" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Zamówienia</span>
  </a>
  <mat-list-item *ngIf="(isAuth$ | async)">
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>logout</mat-icon><span class="nav-caption">Wyloguj się</span>
    </button>
  </mat-list-item>
</mat-nav-list>