<ng-container style="max-width: 40rem;">
  <h1 style="text-align: center; margin-bottom: 2rem">Lista ulubionych lodów</h1>
  <ng-container *ngIf="(favourites$ | async) as favourites; else loading">
    <form *ngIf="favourites.length > 0; else nofavourites" [formGroup]="formFav" class="align-center"
      fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-card *ngFor="let item of favourites; let index = index"
        style="width: 20rem; margin: 1rem; background-color: rgba(128, 128, 128, 0.032); border-radius: 1rem;">
        <mat-card-title><span>&#11088;</span>Lody {{ item | lowercase }}</mat-card-title>
        <mat-card-subtitle>Wybierz jednostkę oraz podaj ilość, by dodać pozycję do zamówienia.</mat-card-subtitle>
        <mat-form-field fxLayoutAlign="center" appearance="fill" style="margin-bottom: 0.2rem">
          <mat-label>Jednostka</mat-label>
          <mat-select formControlName="capacity">
            <ng-container *ngIf="unitList$ | async as units">
              <mat-option *ngFor="let unit of units" [value]="unit">
                {{unit['name']}} - {{ unit['capacity']}}ml
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxLayoutAlign="center" class="example-form-field" appearance="fill"
          style="margin-bottom: 0.2rem">
          <mat-label>Podaj ilość</mat-label>
          <input matInput type="number" formControlName="amount">
        </mat-form-field>

        <mat-card-actions>
          <button mat-button
            (click)="onAddToOrder(item, formFav.controls['capacity'].value, formFav.controls['amount'].value)">Dodaj do
            zamówienia</button>

          <button mat-button color="warn" (click)="onRemoveFromFav(item)">Usuń z ulubionych</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </ng-container>
  <ng-template #nofavourites>
    <p fxLayoutAlign="center center">Brak ulubionych pozycji.</p>
  </ng-template>
</ng-container>

<ng-container style="max-width: 40rem;">
  <h1 style="text-align: center; margin-bottom: 2rem">Lista wszystkich lodów</h1>
  <form *ngIf="icecreamList$ | async as icecream; else noicecream" [formGroup]="form" class="align-center"
    fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card *ngFor="let item of icecream; let index = index"
      style="width: 20rem; margin: 1rem; background-color: rgba(128, 128, 128, 0.032); border-radius: 1rem;">
      <mat-card-title>Lody {{ item | lowercase }}</mat-card-title>
      <mat-card-subtitle>Wybierz jednostkę oraz podaj ilość, by dodać pozycję do zamówienia.</mat-card-subtitle>
      <mat-form-field fxLayoutAlign="center" appearance="fill" style="margin-bottom: 0.2rem">
        <mat-label>Jednostka</mat-label>
        <mat-select formControlName="capacity">
          <ng-container *ngIf="unitList$ | async as units">
            <mat-option *ngFor="let unit of units" [value]="unit">
              {{unit['name']}} - {{ unit['capacity']}}ml
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxLayoutAlign="center" class="example-form-field" appearance="fill" style="margin-bottom: 0.2rem">
        <mat-label>Podaj ilość</mat-label>
        <input matInput type="number" formControlName="amount">
      </mat-form-field>
      <mat-card-actions>
        <button mat-button
          (click)="onAddToOrder(item, form.controls['capacity'].value, form.controls['amount'].value)">Dodaj do
          zamówienia</button>
        <button mat-button (click)="onAddToFavourites(item)"><span>&#11088;</span> Dodaj do
          ulubionych <span>&#11088;</span></button>
      </mat-card-actions>
    </mat-card>
  </form>

</ng-container>
<ng-template #noicecream>
  <p fxLayoutAlign="center center">Brak pozycji na liście lodów. Skontaktuj się z lodziarzem, by ustalić przyczynę.
  </p>
</ng-template>

<ng-template #loading>
  <div fxLayoutAlign="center center">
    <mat-spinner class="scale"></mat-spinner>
  </div>
</ng-template>
