<h1 class="align-center">Nasi klienci</h1>
<div class="padding-bottom" fxLayoutAlign="center center">
  <ul class="list" *ngIf="clientsList$ | async as clients; else loading" fxLayout="column">
    <li class="list__item" *ngFor="let client of clients; let index = index" fxLayout="row" fxLayoutAlign="space-between center">
      <span mat-list-item fxLayoutAlign="flex-start">{{index+1}}. {{ client.name }}</span>
    </li>
    <div fxLayoutAlign="center center">
      <button class="list__button" mat-raised-button color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>Dodaj nowego klienta
      </button></div>
  </ul>
</div>
<ng-template #loading>
  <mat-spinner class="scale"></mat-spinner>
</ng-template>