.container {
  width: 30rem;

  &__title {
    margin-bottom: 0;
    padding: 0 1rem;
  }

  &__list {
    padding: 0;
    width: 20rem;
    list-style: none;
  }

  &__list-item {
    height: 2rem;
    margin: 0.5rem;
    width: 100%
  }

  &__list-item-div {
    line-height: 2rem;
  }

  &__list-item-span {
    color: gray;
    font-size: 0.8rem
  }

  &__list-item-button {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    margin-left: 1rem;
  }

  &__button {
    width: 15rem;
  }
}